<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
    rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
  />
    <title>InstaPics</title>
    <script src="https://kit.fontawesome.com/1b23973fb1.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color: lavenderblush;" id="bootstrap-overide">
<div class="container">

    <div class="page-header text-center">
        <h1 class="profileHeader">InstaPics</h1>
        <span class="profileBtn"> Go To
        <a href="/profile">Profile</a>
        </span>
        <span>
        <a href="/logout" class="btn btn-default btn-sm feedLogout">Logout</a>
        </span>
    </div>

    <!-- <div class="row"> -->

      <section class="feedPost">
        <h3>Posts</h3>
        </section>

        <div class="col-sm-6">
          <ul class="messages list-group">
          <% for(var i=0; i<posts.length; i++) {%>
            <section class="feedContainer"> 
            <li class="message list-group-item">
              <a class="navbar-brand" href="/post/<%= posts[i]._id %>">
                <h4><%= posts[i].caption %></h4>
                <img src="<%= posts[i].img %>" class="postImg" alt="">
              
                <a href="/page/<%= posts[i].postedBy %>" class="userprofile"> User Profile</a>
              </a>
              <span><i data-id="<%= posts[i]._id %>" class="fas fa-thumbs-up likes"></i></span>
             
              <span class="likesAmountFeed"><%= posts[i].likesAmount%></span>
              <div class="form-group">
                <label for="exampleFormControlInput1">Add Comment</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <button type="submit" data-posterid = "<%= posts[i]._id %>" class="btn btn-outline-primary comments">Submit</button>
              <ul>
              <% for(var j=0; j < posts[i].comments.length; j++) {%>
              <li><%= posts[i].comments[j] %></li>
              <% } %>
              </section>
              </ul>
            
             
              
              
            </li>
          <% } %>
          </ul>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>
